/*##########################
           GLOBAL
 ############################*/

html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

:root {
    --font-color: rgb(250, 250, 250);
}

body {
    background-color: black;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: var(--font-color);
    margin: 0;
}

.logo {
    background-color: black;
    padding-top: 30px;
}

.logo__youcode {
    display: inline-block;
    color: rgb(194, 128, 4);
}

.logo__youcode--special {
    font-family: 'Open Sans', sans-serif;
    transform: rotate(10deg);
}

.logo__youcode--specialOpposite {
    color: rgb(247, 247, 247);
    transform: translate(20px, -7px) rotate(190deg);
    font-family: 'Open Sans', sans-serif;
}

.logo__youcode--moveLeft {
    transform: translate(-13px, -3px);
}

.logo__youcode--moveRight {
    transform: translate(34px, -3px) rotate(180deg);
}

.logo__header {
    margin: 0 auto;
    padding: 5px 0;
    font-size: 40px;
    transform: translate(-20px, 0px)
}

.main {
    max-width: 900px;
    margin: 0 auto;
    width: 100%;
}

.score {
    padding: 20px;
    max-width: 400px;
    color: greenyellow;
    font-size: 25px;
    letter-spacing: 3px;
    display: flex;
    flex-direction: row;
    overflow: visible;
    margin: 0 auto;
    justify-content: space-around;
    align-items: stretch;
    align-content: center;
}

.score__wrong {
    color: red;
}

.score__counter {
    animation: counter 0.5s linear;
}

@keyframes counter {
    0% {
        transform: scale(3);
    }
    100% {
        transform: scale(1);
    }
}

.form__fieldset {
    font-size: 16px;
    min-height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: black;
    margin: 10px auto;
    max-height: 500px;
    max-width: 500px;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 20px;
    background-color: transparent;
    padding: 0;
}

.form__legend {
    text-align: left;
    margin: 0 0 0 35px;
    border-radius: 30px;
    box-shadow: 0 0 0 4px black, 0 0 0 6px rgb(7, 236, 45);
}

.result {
    font-size: 24px;
    margin: 60px auto;
    font-weight: 800;
    color: lightblue;
}

/*##########################
            Answers
 ############################*/

.form__label {
    position: relative;
    margin: 10px;
    width: 300px;
    height: 40px;
    cursor: pointer;
    font-size: 14px;
    background-image: linear-gradient(to bottom, #020d0f, #073130);
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5), inset 2px 2px 10px rgba(255, 255, 255, 0.3);
}

.form__inputRadio {
    position: absolute;
    top: 50%;
    left: 0;
    appearance: none;
}

.form__radioSpan {
    position: relative;
    padding: 12px;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background-color: transparent;
}

.form__radioSpan::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5), inset 2px 2px 10px rgba(255, 255, 255, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}

.form__inputRadio:checked~.form__radioSpan::before {
    content: '';
    color: var(--font-color);
    text-shadow: 0 0 20px #0f0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5), inset 1px 1px 1px rgba(0, 0, 0, 0.4), inset -1px -1px 4px rgba(255, 255, 255, 0.3);
}

.form__inputRadio:checked~.form__radioSpan::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    box-shadow: inset 0 0 2px rgb(235, 235, 201), inset 0 0 10px rgb(235, 235, 201), inset 0 0 15px rgb(235, 235, 201);
}

.form__inputRadio--correct {
    box-shadow: inset 0 0 2px rgb(0, 255, 0), inset 0 0 10px rgb(0, 255, 0), inset 0 0 15px rgb(0, 255, 0), inset 0 0 20px rgb(0, 255, 0);
}

.form__inputRadio--wrong {
    box-shadow: inset 0 0 2px rgb(255, 0, 0), inset 0 0 10px rgb(255, 0, 0), inset 0 0 15px rgb(255, 0, 0), inset 0 0 20px rgb(255, 0, 0);
}

/* #################
    BUTTONS
####################*/

.button {
    width: 240px;
    height: 50px;
    position: relative;
    background-color: transparent;
    border: none;
    margin: 20px auto;
    cursor: pointer;
}

.button__span {
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    font-weight: bolder;
    width: 100%;
    height: 100%;
    color: var(--font-color);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.5s;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    border-radius: 30px;
}

.button__span:hover {
    letter-spacing: 2px;
}

.button__span::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-image: linear-gradient(to bottom, #00ffb385, transparent);
    transform: skewX(45deg) translateX(0);
    transition: 0.4s;
}

.button:hover .button__span::before {
    transform: translateX(200%);
}

.button--hide {
    display: none;
}